.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    padding-top: 6rem;
    box-sizing: border-box; 
}

.btn-futbol, .btn-baloncesto {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.btn-futbol:hover, .btn-baloncesto:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 8rem;
    }

    .btn-futbol, .btn-baloncesto {
        width: auto;
        max-width: none;
    }
}
